<div>
    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" >
        @if(section() == "problem"){
            @for (slide of content(); track slide.header) {
                <div ngxSlickItem class="slide">
                    <div class=" flex flex-col justify-center h-full" data-carousel-item>
                        <h3 class="text-2xl font-bold underline">{{slide.header}}</h3>
                        <div class="mt-5">
                            <p class="text-lg">{{slide.content1}}</p>
                            <p class="text-lg mt-4">{{slide.content2}}</p>
                        </div>
                    </div>
                </div>
            }
        }
        @else if(section() == "testimonials"){
            @for (slide of content(); track slide.name) {
                <div ngxSlickItem class="slide">
                    <div class="p-4" data-carousel-item>
                        <div class="grid md:grid-cols-3 " >
                            <figure class="md:col-span-1">
                                <img class="rounded-xl" [src]="slide.img" >
                            </figure>
                            <div class="ml-8 md:col-span-2">
                                <h3 class="name text-2xl font-bold">{{slide.name}}</h3>
                                <p>{{slide.about}}</p>
    
                                <p class="feedback mt-5">
                                    {{slide.feedback}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </ngx-slick-carousel>
</div>
