

<!-- <div id="default-carousel" class="relative w-full" data-carousel="slide">
    <div class="relative overflow-hidden">
        @for(data of content(); track data.header; let index = $index){
            <div #carouselItem [class]="index == 0 ? '' : 'hidden'" class="supports-[display:block]:animate-fadeinright">
                <div class=" flex flex-col justify-center h-full" data-carousel-item>
                    <h3 class="text-2xl font-bold underline">{{data.header}}</h3>
                    <div class="mt-5">
                        <p class="text-lg">{{data.content1}}</p>
                        <p class="text-lg mt-4">{{data.content2}}</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div> -->

<div>
    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" >
        @if(section() == "problem"){
            @for (slide of content(); track slide.header) {
                <div ngxSlickItem class="slide">
                    <div class=" flex flex-col justify-center h-full" data-carousel-item>
                        <h3 class="text-2xl font-bold underline">{{slide.header}}</h3>
                        <div class="mt-5">
                            <p class="text-lg">{{slide.content1}}</p>
                            <p class="text-lg mt-4">{{slide.content2}}</p>
                        </div>
                    </div>
                </div>
            }
        }
        @else if(section() == "testimonials"){
            @for (slide of content(); track slide.header) {
                <div ngxSlickItem class="slide">
                    <div class="border-2 rounded-lg shadow-2xl p-4" data-carousel-item>
                        <div class="flex items-center justify-center" >
                            <figure>
                                <img class="w-[400px] h-[500px] rounded-xl" [src]="slide.img" >
                            </figure>
                            <div class="ml-8">
                                <h3 class="name text-2xl font-bold">{{slide.name}}</h3>
                                <p>{{slide.about}}</p>
    
                                <p class="feedback mt-5">
                                    {{slide.feedback}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </ngx-slick-carousel>
</div>
