<article class="text-black">
    <h1 class="text-3xl">Connecting Your Google Inbox</h1>

    <h3 class="text-2xl mt-4">Overview</h3>
    <p>If you are using a single user email address (meaning that your email address is accessible through a single username and password), follow these steps to create a direct Gmail inbox integration with your Supermoon team inbox.</p>

    <div>
        <h3 class="text-2xl mt-4">Steps</h3>
        <ol class="list-decimal ml-8 space-y-3">
            <li>Navigate to your AIFS Settings (bottom left of your screen)</li>
            <li>Click 'Linked Accounts'</li>
            <li>Click 'Connect with google'</li>

            <img class="my-2" src="assets/images/Google1.png">

            <li>Navigate to your AIFS Settings (bottom left of your screen)</li>
            <li>Click 'Linked Accounts'</li>
            <li>Click 'Connect with google'</li>

            <img class="my-2" src="assets/images/Google2.png">
        </ol>

        <p class="mt-4">
            Once your Gmail inbox is connected, you will begin to see your messages import. If you have a lot of messages to import, it may take several hours to complete. Additionally, any new inbound emails to the connected Gmail account will start to appear in your AIFS inbox.
        </p>
    </div>
</article>
 