<main class="px-10 mx-auto max-w-7xl">
    <section class="hero-section mt-10">
        <div class="flex flex-col  items-center justify-center md:grid grid-cols-2">
            <div class="hero-container flex flex-col justify-center items-center md:block pr-10`">
                <div class="hero-header ">
                    <p class="leading-10 text-center md:text-left">
                        <span class="text-4xl lg:text-6xl font-serif">An end-to-end AI-powered</span><br/>
                        <span class="text-3xl lg:text-3xl font-serif">customer service automation platform</span>
                        <span class="text-2xl block"> Manage Emails & DMs in One Place</span>
                        <span class="text-xl">with AI-Powered Responses</span>
                    </p>
                </div>
                <p class="hero-content mt-10 lg:pr-5">Streamline customer interactions across platforms with AIFS – your unified inbox with AI-powered efficiency.</p>
                <div class="hero-action flex flex-col items-center md:flex-row space-x-4 mt-4">
                    <app-button [btnData]="{id:2, name:'Get Started for Free', className:'btn-transparent-dark'}"></app-button>
                    <app-button [btnData]="{id:2, name:'Book Demo', className:'btn-gradient mt-2 md:mt-0'}"></app-button>
                </div>
            </div>
            <div class="support-hero-content">
                <div class="transition-all">
                    <figure>
                        <img src="assets/images/Untitled.png" />
                    </figure>
                </div>
            </div>
        </div>
    </section>
    
    <section class="problem-statement mt-12 md:mt-24">
        <div class="flex flex-col justify-center items-center ">
            <h3 class="text-xl md:text-3xl font-semibold text-center">Your Customers Are Everywhere<br>Your Responses Aren’t</h3>
            <div class="h-1 w-20 mt-2 bg-black"></div>
        </div>
        <div class="lg:mt-16">
            <p class="text-xl md:text-3xl font-bold text-center md:leading-[3rem] opacity-70">As a business owner, managing customer communication is crucial for maintaining relationships and driving growth. But with the rise of digital platforms, handling messages across various channels has become overwhelming.</p>
            <div class="grid grid-cols-1 md:grid-cols-2 items-center mt-20 ">
                <div class="lg:w-11/12">
                    <app-carousel section="problem" [content]="problemContent"></app-carousel>
                </div>
                <div>
                    <figure>
                        <img src="assets/images/problem.png" />
                    </figure>
                </div>
            </div>
        </div>
    
    </section>
    
    <section class="solution-statement mt-16 md:mt-24">
        <div class="flex flex-col justify-center items-center ">
            <h3 class="text-center text-xl md:text-3xl font-semibold">AIFS: All Your Communications<br> in One Place</h3>
            <div class="h-1 w-20 mt-2 bg-black"></div>
        </div>
        <div class="grid lg:grid-cols-3 gap-6 lg:mt-16">
            @for(solution of solutionContent; track solution.header){
                <app-card [cardData]="solution"></app-card>
            }
        </div>
    
    </section>
    
    <!-- <section class="testimonials mt-16 md:mt-24">
        <div class="flex flex-col justify-center items-center ">
            <h3 class="text-center text-xl md:text-3xl font-semibold">Loved by Business Owners<br> Worldwide</h3>
            <div class="h-1 w-20 mt-2 bg-black"></div>
        </div>
        <div class="mt-20 border-transparent rounded-2xl shadow-2xl px-14 py-4">
            <app-carousel section="testimonials" [content]="testimonials"></app-carousel>
        </div>
    </section> -->
</main>