<footer class="border-t border-gray-500 mt-16 md:mt-24">
    <div class="footer-container mx-auto mt-10 max-w-7xl">
        <div class="grid grid-cols-1 lg:grid-cols-4">
            <div class="about col-span-2">
                <h1 class="text-xl">Demo</h1>
                <div class="icons mt-4 flex space-x-4">
                    <ng-icon class="text-xl" name="ionLogoInstagram"></ng-icon>
                    <ng-icon class="text-xl" name="ionLogoFacebook"></ng-icon>
                    <ng-icon class="text-xl" name="ionLogoLinkedin"></ng-icon>
                    <ng-icon class="text-xl" name="ionLogoX"></ng-icon>
                </div>
            </div>
            <div class="product">  
                <h3 class="text-lg">Product</h3>
                <ul class="list-none opacity-75 mt-4">
                    <li>Shared Inbox</li>
                    <li>Live Chat</li>
                    <li>Omnichannel Inbox</li>
                    <li>AI Customization</li>
                    <li>CRM</li>
                </ul>
            </div>
            <div class="company">
                <h3 class="text-lg">Company</h3>
                <ul class="list-none opacity-75 mt-4">
                    <li>Pricing</li>
                    <li>Help Center</li>
                    <li>FAQ</li>
                    <li>Contact</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>
        <p class="text-center mt-10">© 2024 Demo Labs, Inc. All Rights Reserved.</p>
    </div>
</footer>
